plc:
  # MITSUBISHI iQ-R       # It's a comment.
  cpu: iq-r               # It's just a comment for PLC.
  protocol: mc_protocol   # It's a protocol to communicate with PLC.
  host: 192.168.0.10      # It's PLC's IP address or DNS name.
  port: 5010              # It's PLC's port no. It uses default port if it's not put here.
